body{
    background-color: rgb(53, 52, 52);
    margin: 0;
    padding: 0;
    font-family: poppins;
}
@font-face {
    font-family: poppins;
    src: url(Poppins-Regular.ttf);
}
nav{
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    background-color: rgb(73, 73, 73);
    margin-bottom: 1.1rem;
}
a{
    text-decoration: none;
}
.closeandsettings-cont{
    display: flex;
    gap: 1.2rem;  
    margin-left: 1.1rem;
    margin-top: 0.1rem;
}
.closeandsettings-cont img{
    width: 19px;
    object-fit: contain;
    margin-top: 1rem;
}
h2{
    color: white;
    font-family: poppins;
    font-size: 16px;
}


 .container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.container h1 {

    color: #ffffff;
}
 
.section {

    background-color: rgb(73, 73, 73);

    padding: 50px 30px;

    border: 1.5px solid #b2b2b2;

    border-radius: 0.25em;

    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}
 
#my-qr-reader {

    padding: 20px !important;

    border: 1.5px solid #b2b2b2 !important;

    border-radius: 8px;
}
 

#my-qr-reader img[alt="Info icon"] {

    display: none;
}
 

#my-qr-reader img[alt="Camera based scan"] {

    width: 100px !important;

    height: 100px !important;
}
 
button {

    padding: 10px 20px;

    border: 1px solid #b2b2b2;

    outline: none;

    border-radius: 0.25em;

    color: white;

    font-size: 15px;

    cursor: pointer;

    margin-top: 15px;

    margin-bottom: 10px;

    background-color: #008000ad;

    transition: 0.3s background-color;
}
 
button:hover {

    background-color: #008000;
}
 

#html5-qrcode-anchor-scan-type-change {

    text-decoration: none !important;
    font-family: poppins;
    color: black;
}
 
video {

    width: 100% !important;

    border: 1px solid #b2b2b2 !important;

    border-radius: 0.25em;
}

.scan-text{
    display: flex;
    justify-content: center;
}
.scan-text h1{
    font-size: 20px;
    color: white;
}